@import "settings";

h1,h2,h3,h4,h5,h6,p,div, li {
  font-family:$default-font;
  -webkit-font-smoothing: antialiased;
}

span.count-line {
  color: $primary-color;
  font-weight: normal;
  font-size: 1.4em;
}

section.shim {
  @include shim-padding();
}

.app-top-section {
  padding: 1.3em;
  background-color: $secondary-color;
}

.app-top-section label {
  color: $neutral-color;
}
