.neutral {
  background-color: $neutral-color;
}

.dark {
  background-color: $dark-color;
  color: $neutral-color;
}

.charcoal {
  background-color: $charcoal-color;
  color: $neutral-color;
}

.alt {
  background-color: $alt-color;
}

.border {
  background-color: $border-color;
  color: $neutral-color;
}

.blue {
  background-color: $blue-color;
}

.blue-dark {
  background-color: $blue-dark-color;
  color: $neutral-color;
}

.gold {
  background-color: $gold-color;
}

.gold-dark {
  background-color: $gold-dark-color;
  color: $neutral-color;
}

.purple {
  background-color: $purple-color;
}

.purple-dark {
  background-color: $purple-dark-color;
  color: $neutral-color;
}

.red {
  background-color: $red-color;
}

.red-dark {
  background-color: $red-dark-color;
  color: $neutral-color;
}

.teal {
  background-color: $teal-color;
}

.teal-dark {
  background-color: $teal-dark-color;
  color: $neutral-color;
}

.neutral-text {
  color: $neutral-color;
}

.dark-text {
  color: $dark-color;
}

.charcoal-text {
  color: $charcoal-color;
}

.alt-text {
  color: $alt-color;
}

.border-text {
  color: $border-color;
}

.blue-text {
  color: $blue-color;
}

.blue-dark-text {
  color: $blue-dark-color;
}

.gold-text {
  color: $gold-color;
}

.gold-dark-text {
  color: $gold-dark-color;
}

.purple-text {
  color: $purple-color;
}

.purple-dark-text {
  color: $purple-dark-color;
}

.red-text {
  color: $red-color;
}

.red-dark-text {
  color: $red-dark-color;
}

.teal-text {
  color: $teal-color;
}

.teal-dark-text {
  color: $teal-dark-color;
}
