@import "settings";

.primary-bg {
  background-color: $neutral-color;
}

.dark-bg {
  background-color: $dark-color;
  color: $neutral-color;
}

.alt-bg {
  background-color: $alt-color;
}

.border-bg {
  background-color: $border-color;
  color: $neutral-color;
}

.blue-bg {
  background-color: $blue-color;
}

.blue-dark-bg {
  background-color: $blue-dark-color;
  color: $neutral-color;
}

.gold-bg {
  background-color: $gold-color;
}

.gold-dark-bg {
  background-color: $gold-dark-color;
  color: $neutral-color;
}

.purple-bg {
  background-color: $purple-color;
}

.purple-dark-bg {
  background-color: $purple-dark-color;
  color: $neutral-color;
}

.red-bg {
  background-color: $red-color;
}

.red-dark-bg {
  background-color: $red-dark-color;
  color: $neutral-color;
}

.teal-bg {
  background-color: $teal-color;
}

.teal-dark-bg {
  background-color: $teal-dark-color;
  color: $neutral-color;
}
