$neutral-color: #FFFFFF;
$dark-color: #333333;
$alt-color: #EEEEEE;
$border-color: #CCCCCC;

$background-blue-color: #4583B1;
$background-blue-dark-color: #2A5676;
$background-gold-color: #DBA571;
$background-gold-dark-color: #AF845A;
$background-purple-color: #8C5D79;
$background-purple-dark-color: #704A61;
$background-red-color: #E56C69;
$background-red-dark-color: #B75654;
$background-teal-color: #5A9AA8;
$background-teal-dark-color: #487B86;

$default-font: BentonSans,Arial,sans-serif;

$standard-padding: 1.3em;

@mixin shim-padding() {
  padding: 1em 0;
}