$neutral-color: #FFFFFF;
$dark-color: #333333;
$alt-color: #EEEEEE;
$border-color: #CCCCCC;

$blue-color: #4583B1;
$blue-dark-color: #2A5676;
$gold-color: #DBA571;
$gold-dark-color: #AF845A;
$purple-color: #8C5D79;
$purple-dark-color: #704A61;
$red-color: #E56C69;
$red-dark-color: #B75654;
$teal-color: #5A9AA8;
$teal-dark-color: #487B86;

$default-font: BentonSans,Arial,sans-serif;

$standard-padding: 1.3em;

@mixin shim-padding() {
  padding: 1em 0;
}