$neutral-color: #ffffff;
$alt-zebra-color: #eeeeee;
$primary-color: #008CBA;
$secondary-color: #cccccc;

$default-font: BentonSans,Arial,sans-serif;

$standard-padding: 1.3em;

@mixin shim-padding() {
  padding: 1em 0;
}