@import "settings";

.primary-bg {
  background-color: $neutral-color;
}

.dark-bg {
  background-color: $dark-color;
}

.alt-bg {
  background-color: $alt-color;
}

.border-bg {
  background-color: $border-color;
}

.blue-bg {
  background-color: $background-blue-color;
}

.blue-dark-bg {
  background-color: $background-blue-dark-color;
}

.gold-bg {
  background-color: $background-gold-color;
}

.gold-dark-bg {
  background-color: $background-gold-dark-color;
}

.purple-bg {
  background-color: $background-purple-color;
}

.purple-dark-bg {
  background-color: $background-purple-dark-color;
}

.red-bg {
  background-color: $background-red-color;
}

.red-dark-bg {
  background-color: $background-red-dark-color;
}

.teal-bg {
  background-color: $background-teal-color;
}

.teal-dark-bg {
  background-color: $background-teal-dark-color;
}


h1,h2,h3,h4,h5,h6,p,div, li {
  font-family:$default-font;
  -webkit-font-smoothing: antialiased;
}

section section {
  padding: 1em 0;
}

.shim {
	margin: 2em 0;
}


//// BEM Here down
.b-swatch {
  height: 5em;
  width: 5em;
}

.b-markup {
  margin-top: 2.6em;
}

.b-markup:before {
  position: relative;
  padding: 0px 4px;
  background: #e8e6e3;
  top: 1.3em;
  left: .1em;
  -webkit-font-smoothing: antialiased;
  color: #555;
  content: attr(class);
  font-size: 0.9rem;
  border: solid 1px rgba(51, 51, 51, 0.12);
  border-top: none;
  border-left: none;
}

.b-snippet {
  overflow: scroll;
  border: 1px solid #ccc;
  background-color: $neutral-color

}

.b-card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.b-card-list a {
  cursor: pointer;
}

.b-card {
  background-color: $border-color;
  margin: 5px;
  padding: 1px;
  display: inline-block;
}

.e-card-content {
  padding: 10px;
}

.e-event-image {
  width: 330px;
  height: 220px;
}

.e-stub-strip {
  display: inline-flex;
  width: 100%;
}

.e-stub {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 0;
  padding: 8px 4px;
}

.e-stub:hover {
  border-radius: 5px;
}

.e-description {
  margin: 5px;
  height: 3em;
  font-size: 18px;
  font-weight: 500;
  width: 320px;
  overflow: hidden;
}

.e-paging-button {
  display: inline-flex;
  border: 0;
  height: 2em;
  margin: 0;
  padding: 8px 4px;
  align-items: center;
}

.e-paging-button:hover {
  background-color: $alt-color;
}

.e-paging-button.disabled {
  opacity: .30;
}

.e-paging-button.disabled:hover {
  background-color: $neutral-color;
}


.e-date {
  font-size: 13px;
}

.e-stub:hover .e-date {
  font-weight: bold
}

.e-quantity {
  font-size: 12px;
}

.e-quantity.sold-out {
  color: #E56C69;
}