/* line 3, ../../../../site_components/sosh/scss/_colors.scss */
.primary-bg {
  background-color: #FFFFFF;
}

/* line 7, ../../../../site_components/sosh/scss/_colors.scss */
.dark-bg {
  background-color: #333333;
  color: #FFFFFF;
}

/* line 12, ../../../../site_components/sosh/scss/_colors.scss */
.alt-bg {
  background-color: #EEEEEE;
}

/* line 16, ../../../../site_components/sosh/scss/_colors.scss */
.border-bg {
  background-color: #CCCCCC;
  color: #FFFFFF;
}

/* line 21, ../../../../site_components/sosh/scss/_colors.scss */
.blue-bg {
  background-color: #4583B1;
}

/* line 25, ../../../../site_components/sosh/scss/_colors.scss */
.blue-dark-bg {
  background-color: #2A5676;
  color: #FFFFFF;
}

/* line 30, ../../../../site_components/sosh/scss/_colors.scss */
.gold-bg {
  background-color: #DBA571;
}

/* line 34, ../../../../site_components/sosh/scss/_colors.scss */
.gold-dark-bg {
  background-color: #AF845A;
  color: #FFFFFF;
}

/* line 39, ../../../../site_components/sosh/scss/_colors.scss */
.purple-bg {
  background-color: #8C5D79;
}

/* line 43, ../../../../site_components/sosh/scss/_colors.scss */
.purple-dark-bg {
  background-color: #704A61;
  color: #FFFFFF;
}

/* line 48, ../../../../site_components/sosh/scss/_colors.scss */
.red-bg {
  background-color: #E56C69;
}

/* line 52, ../../../../site_components/sosh/scss/_colors.scss */
.red-dark-bg {
  background-color: #B75654;
  color: #FFFFFF;
}

/* line 57, ../../../../site_components/sosh/scss/_colors.scss */
.teal-bg {
  background-color: #5A9AA8;
}

/* line 61, ../../../../site_components/sosh/scss/_colors.scss */
.teal-dark-bg {
  background-color: #487B86;
  color: #FFFFFF;
}

/* line 3, ../../../../site_components/sosh/scss/_typography.scss */
a {
  text-decoration: none;
}

/* line 7, ../../../../site_components/sosh/scss/_typography.scss */
html {
  line-height: 1.5;
  font-weight: normal;
  font-family: BentonSans, Arial, sans-serif;
  font-smoothing: antialiased;
}

@media only screen and (min-width: 0) {
  /* line 16, ../../../../site_components/sosh/scss/_typography.scss */
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 22, ../../../../site_components/sosh/scss/_typography.scss */
  html {
    font-size: 14.5px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 28, ../../../../site_components/sosh/scss/_typography.scss */
  html {
    font-size: 15px;
  }
}
/* line 33, ../../../../site_components/sosh/scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* line 37, ../../../../site_components/sosh/scss/_typography.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 41, ../../../../site_components/sosh/scss/_typography.scss */
h1 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin: 1.6rem 0;
}

/* line 47, ../../../../site_components/sosh/scss/_typography.scss */
h2 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 1.2rem 0;
}

/* line 53, ../../../../site_components/sosh/scss/_typography.scss */
h3 {
  font-size: 1.067rem;
  line-height: 1.067rem;
  margin: 1.067rem 0;
}

/* line 59, ../../../../site_components/sosh/scss/_typography.scss */
h4 {
  font-size: 1rem;
  line-height: 1rem;
  margin: 1rem 0;
}

/* line 65, ../../../../site_components/sosh/scss/_typography.scss */
h5 {
  font-size: 0.9333rem;
  line-height: 0.9333rem;
  margin: 0.9333rem 0;
}

/* line 71, ../../../../site_components/sosh/scss/_typography.scss */
h6 {
  font-size: 0.8667rem;
  line-height: 0.8667rem;
  margin: 0.8667rem 0;
}

/* line 77, ../../../../site_components/sosh/scss/_typography.scss */
em {
  font-style: italic;
}

/* line 81, ../../../../site_components/sosh/scss/_typography.scss */
strong {
  font-weight: 500;
}

/* line 85, ../../../../site_components/sosh/scss/_typography.scss */
small {
  font-size: 75%;
}

/* line 89, ../../../../site_components/sosh/scss/_typography.scss */
.light, footer.page-footer .footer-copyright {
  font-weight: 300;
}

/* line 93, ../../../../site_components/sosh/scss/_typography.scss */
.flow-text {
  font-weight: 300;
}

/* line 97, ../../../../site_components/sosh/scss/_typography.scss */
blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #E56C69;
}

@media only screen and (min-width: 360px) {
  /* line 104, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 0px) {
  /* line 110, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 0.8rem;
  }
}
@media only screen and (min-width: 390px) {
  /* line 116, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.224rem;
  }
}
@media only screen and (min-width: 30px) {
  /* line 122, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 0.904rem;
  }
}
@media only screen and (min-width: 420px) {
  /* line 128, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.248rem;
  }
}
@media only screen and (min-width: 60px) {
  /* line 134, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.008rem;
  }
}
@media only screen and (min-width: 450px) {
  /* line 140, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.272rem;
  }
}
@media only screen and (min-width: 90px) {
  /* line 146, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.112rem;
  }
}
@media only screen and (min-width: 480px) {
  /* line 152, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.296rem;
  }
}
@media only screen and (min-width: 120px) {
  /* line 158, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.216rem;
  }
}
@media only screen and (min-width: 510px) {
  /* line 164, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.32rem;
  }
}
@media only screen and (min-width: 150px) {
  /* line 170, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.32rem;
  }
}
@media only screen and (min-width: 540px) {
  /* line 176, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.344rem;
  }
}
@media only screen and (min-width: 180px) {
  /* line 182, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.424rem;
  }
}
@media only screen and (min-width: 570px) {
  /* line 188, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.368rem;
  }
}
@media only screen and (min-width: 210px) {
  /* line 194, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.528rem;
  }
}
@media only screen and (min-width: 600px) {
  /* line 200, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.392rem;
  }
}
@media only screen and (min-width: 240px) {
  /* line 206, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.632rem;
  }
}
@media only screen and (min-width: 630px) {
  /* line 212, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.416rem;
  }
}
@media only screen and (min-width: 270px) {
  /* line 218, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.736rem;
  }
}
@media only screen and (min-width: 660px) {
  /* line 224, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.44rem;
  }
}
@media only screen and (min-width: 300px) {
  /* line 230, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.84rem;
  }
}
@media only screen and (min-width: 690px) {
  /* line 236, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.464rem;
  }
}
@media only screen and (min-width: 330px) {
  /* line 242, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.944rem;
  }
}
@media only screen and (min-width: 720px) {
  /* line 248, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.488rem;
  }
}
@media only screen and (min-width: 360px) {
  /* line 254, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.048rem;
  }
}
@media only screen and (min-width: 750px) {
  /* line 260, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.512rem;
  }
}
@media only screen and (min-width: 390px) {
  /* line 266, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.152rem;
  }
}
@media only screen and (min-width: 780px) {
  /* line 272, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.536rem;
  }
}
@media only screen and (min-width: 420px) {
  /* line 278, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.256rem;
  }
}
@media only screen and (min-width: 810px) {
  /* line 284, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.56rem;
  }
}
@media only screen and (min-width: 450px) {
  /* line 290, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.36rem;
  }
}
@media only screen and (min-width: 840px) {
  /* line 296, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.584rem;
  }
}
@media only screen and (min-width: 480px) {
  /* line 302, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.464rem;
  }
}
@media only screen and (min-width: 870px) {
  /* line 308, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.608rem;
  }
}
@media only screen and (min-width: 510px) {
  /* line 314, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.568rem;
  }
}
@media only screen and (min-width: 900px) {
  /* line 320, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.632rem;
  }
}
@media only screen and (min-width: 540px) {
  /* line 326, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.672rem;
  }
}
@media only screen and (min-width: 930px) {
  /* line 332, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.656rem;
  }
}
@media only screen and (min-width: 570px) {
  /* line 338, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.776rem;
  }
}
@media only screen and (min-width: 960px) {
  /* line 344, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.68rem;
  }
}
@media only screen and (min-width: 600px) {
  /* line 350, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.88rem;
  }
}
/* line 1, ../../../../site_components/sosh/scss/_depth.scss */
.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* line 5, ../../../../site_components/sosh/scss/_depth.scss */
.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 9, ../../../../site_components/sosh/scss/_depth.scss */
.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* line 13, ../../../../site_components/sosh/scss/_depth.scss */
.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

/* line 17, ../../../../site_components/sosh/scss/_depth.scss */
.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

/* line 3, ../../../../site_components/sosh/scss/_navigation.scss */
body {
  margin: 0;
}

/* line 6, ../../../../site_components/sosh/scss/_navigation.scss */
.nav-left {
  position: fixed;
  width: 15%;
  overflow: hidden;
}

/* line 12, ../../../../site_components/sosh/scss/_navigation.scss */
.nav-main {
  padding: 0 1em;
  margin: 0;
  display: inline-block;
  width: 83%;
  margin-left: 15%;
  background-color: #FFFFFF;
}

/* line 7, ../../../../site_components/sosh/scss/app.scss */
.valign {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 22, ../../../../site_components/sosh/scss/app.scss */
.b-swatch {
  height: 7em;
  width: 7em;
  display: inline-flex;
  align-content: center;
}

/* line 29, ../../../../site_components/sosh/scss/app.scss */
.markup {
  margin-top: 4.6em;
}

/* line 33, ../../../../site_components/sosh/scss/app.scss */
.markup:before {
  position: relative;
  padding: 0px 4px;
  background-color: #CCCCCC;
  top: 1.4em;
  left: .1em;
  -webkit-font-smoothing: antialiased;
  color: #EEEEEE;
  content: attr(class);
  font-size: 0.9rem;
  border: solid 1px rgba(51, 51, 51, 0.12);
  border-top: none;
  border-left: none;
}

/* line 48, ../../../../site_components/sosh/scss/app.scss */
.b-snippet {
  overflow: scroll;
  border: 1px solid #CCCCCC;
  color: #FFFFFF;
  background-color: #333333;
  font-size: 70%;
}

/* line 57, ../../../../site_components/sosh/scss/app.scss */
.b-card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 63, ../../../../site_components/sosh/scss/app.scss */
.b-card-list a {
  cursor: pointer;
}

/* line 67, ../../../../site_components/sosh/scss/app.scss */
.b-card {
  background-color: #CCCCCC;
  margin: 5px;
  padding: 1px;
  display: inline-block;
}

/* line 74, ../../../../site_components/sosh/scss/app.scss */
.e-card-content {
  padding: 10px;
}

/* line 78, ../../../../site_components/sosh/scss/app.scss */
.e-card-label {
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #CCCCCC;
}

/* line 84, ../../../../site_components/sosh/scss/app.scss */
.e-event-image {
  width: 330px;
  height: 220px;
}

/* line 89, ../../../../site_components/sosh/scss/app.scss */
.e-stub-strip {
  margin: 5px;
  display: inline-flex;
  width: 100%;
}

/* line 95, ../../../../site_components/sosh/scss/app.scss */
.e-stub {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 0;
  padding: 8px 4px;
}

/* line 103, ../../../../site_components/sosh/scss/app.scss */
.e-stub:hover {
  border-radius: 5px;
}

/* line 107, ../../../../site_components/sosh/scss/app.scss */
.e-description {
  margin: 5px;
  height: 3em;
  font-size: 18px;
  font-weight: 500;
  width: 320px;
  overflow: hidden;
}

/* line 116, ../../../../site_components/sosh/scss/app.scss */
.e-paging-button {
  display: inline-flex;
  border: 0;
  height: 2em;
  margin: 0;
  padding: 8px 4px;
  align-items: center;
}

/* line 125, ../../../../site_components/sosh/scss/app.scss */
.e-paging-button:hover {
  background-color: #EEEEEE;
}

/* line 129, ../../../../site_components/sosh/scss/app.scss */
.e-paging-button.disabled {
  opacity: .30;
}

/* line 133, ../../../../site_components/sosh/scss/app.scss */
.e-paging-button.disabled:hover {
  color: #FFFFFF;
}

/* line 137, ../../../../site_components/sosh/scss/app.scss */
.e-date {
  font-size: 13px;
}

/* line 141, ../../../../site_components/sosh/scss/app.scss */
.e-stub:hover .e-date {
  font-weight: bold;
}

/* line 145, ../../../../site_components/sosh/scss/app.scss */
.e-quantity {
  font-size: 12px;
}

/* line 149, ../../../../site_components/sosh/scss/app.scss */
.e-quantity.sold-out {
  color: #B75654;
}
