/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 7, ../../../../site_components/sosh/scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 17, ../../../../site_components/sosh/scss/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 31, ../../../../site_components/sosh/scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 52, ../../../../site_components/sosh/scss/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 65, ../../../../site_components/sosh/scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 75, ../../../../site_components/sosh/scss/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 87, ../../../../site_components/sosh/scss/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, ../../../../site_components/sosh/scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 107, ../../../../site_components/sosh/scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 115, ../../../../site_components/sosh/scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 124, ../../../../site_components/sosh/scss/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 133, ../../../../site_components/sosh/scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 142, ../../../../site_components/sosh/scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 151, ../../../../site_components/sosh/scss/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 159, ../../../../site_components/sosh/scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 167, ../../../../site_components/sosh/scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 171, ../../../../site_components/sosh/scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 182, ../../../../site_components/sosh/scss/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 190, ../../../../site_components/sosh/scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 201, ../../../../site_components/sosh/scss/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 209, ../../../../site_components/sosh/scss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 219, ../../../../site_components/sosh/scss/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 227, ../../../../site_components/sosh/scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 250, ../../../../site_components/sosh/scss/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 264, ../../../../site_components/sosh/scss/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 275, ../../../../site_components/sosh/scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 288, ../../../../site_components/sosh/scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 300, ../../../../site_components/sosh/scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 309, ../../../../site_components/sosh/scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 320, ../../../../site_components/sosh/scss/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 332, ../../../../site_components/sosh/scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 344, ../../../../site_components/sosh/scss/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 355, ../../../../site_components/sosh/scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 368, ../../../../site_components/sosh/scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 377, ../../../../site_components/sosh/scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 388, ../../../../site_components/sosh/scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 397, ../../../../site_components/sosh/scss/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 406, ../../../../site_components/sosh/scss/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 417, ../../../../site_components/sosh/scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 422, ../../../../site_components/sosh/scss/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 1, ../../../../site_components/sosh/scss/_colors.scss */
.neutral {
  background-color: #FFFFFF;
}

/* line 5, ../../../../site_components/sosh/scss/_colors.scss */
.dark {
  background-color: #333333;
  color: #FFFFFF;
}

/* line 10, ../../../../site_components/sosh/scss/_colors.scss */
.charcoal {
  background-color: #666666;
  color: #FFFFFF;
}

/* line 15, ../../../../site_components/sosh/scss/_colors.scss */
.alt {
  background-color: #EEEEEE;
}

/* line 19, ../../../../site_components/sosh/scss/_colors.scss */
.border {
  background-color: #CCCCCC;
  color: #FFFFFF;
}

/* line 24, ../../../../site_components/sosh/scss/_colors.scss */
.blue {
  background-color: #4583B1;
}

/* line 28, ../../../../site_components/sosh/scss/_colors.scss */
.blue-dark {
  background-color: #2A5676;
  color: #FFFFFF;
}

/* line 33, ../../../../site_components/sosh/scss/_colors.scss */
.gold {
  background-color: #DBA571;
}

/* line 37, ../../../../site_components/sosh/scss/_colors.scss */
.gold-dark {
  background-color: #AF845A;
  color: #FFFFFF;
}

/* line 42, ../../../../site_components/sosh/scss/_colors.scss */
.purple {
  background-color: #8C5D79;
}

/* line 46, ../../../../site_components/sosh/scss/_colors.scss */
.purple-dark {
  background-color: #704A61;
  color: #FFFFFF;
}

/* line 51, ../../../../site_components/sosh/scss/_colors.scss */
.red {
  background-color: #E56C69;
}

/* line 55, ../../../../site_components/sosh/scss/_colors.scss */
.red-dark {
  background-color: #B75654;
  color: #FFFFFF;
}

/* line 60, ../../../../site_components/sosh/scss/_colors.scss */
.teal {
  background-color: #5A9AA8;
}

/* line 64, ../../../../site_components/sosh/scss/_colors.scss */
.teal-dark {
  background-color: #487B86;
  color: #FFFFFF;
}

/* line 69, ../../../../site_components/sosh/scss/_colors.scss */
.neutral-text {
  color: #FFFFFF;
}

/* line 73, ../../../../site_components/sosh/scss/_colors.scss */
.dark-text {
  color: #333333;
}

/* line 77, ../../../../site_components/sosh/scss/_colors.scss */
.charcoal-text {
  color: #666666;
}

/* line 81, ../../../../site_components/sosh/scss/_colors.scss */
.alt-text {
  color: #EEEEEE;
}

/* line 85, ../../../../site_components/sosh/scss/_colors.scss */
.border-text {
  color: #CCCCCC;
}

/* line 89, ../../../../site_components/sosh/scss/_colors.scss */
.blue-text {
  color: #4583B1;
}

/* line 93, ../../../../site_components/sosh/scss/_colors.scss */
.blue-dark-text {
  color: #2A5676;
}

/* line 97, ../../../../site_components/sosh/scss/_colors.scss */
.gold-text {
  color: #DBA571;
}

/* line 101, ../../../../site_components/sosh/scss/_colors.scss */
.gold-dark-text {
  color: #AF845A;
}

/* line 105, ../../../../site_components/sosh/scss/_colors.scss */
.purple-text {
  color: #8C5D79;
}

/* line 109, ../../../../site_components/sosh/scss/_colors.scss */
.purple-dark-text {
  color: #704A61;
}

/* line 113, ../../../../site_components/sosh/scss/_colors.scss */
.red-text {
  color: #E56C69;
}

/* line 117, ../../../../site_components/sosh/scss/_colors.scss */
.red-dark-text {
  color: #B75654;
}

/* line 121, ../../../../site_components/sosh/scss/_colors.scss */
.teal-text {
  color: #5A9AA8;
}

/* line 125, ../../../../site_components/sosh/scss/_colors.scss */
.teal-dark-text {
  color: #487B86;
}

/* line 1, ../../../../site_components/sosh/scss/_typography.scss */
a {
  text-decoration: none;
}

/* line 5, ../../../../site_components/sosh/scss/_typography.scss */
html {
  line-height: 1.5;
  font-weight: normal;
  font-family: BentonSans, Arial, sans-serif;
  font-smoothing: antialiased;
}

@media only screen and (min-width: 0) {
  /* line 14, ../../../../site_components/sosh/scss/_typography.scss */
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 20, ../../../../site_components/sosh/scss/_typography.scss */
  html {
    font-size: 14.5px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 26, ../../../../site_components/sosh/scss/_typography.scss */
  html {
    font-size: 15px;
  }
}
/* line 31, ../../../../site_components/sosh/scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* line 35, ../../../../site_components/sosh/scss/_typography.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 39, ../../../../site_components/sosh/scss/_typography.scss */
h1 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin: 1.6rem 0;
}

/* line 45, ../../../../site_components/sosh/scss/_typography.scss */
h2 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 1.2rem 0;
}

/* line 51, ../../../../site_components/sosh/scss/_typography.scss */
h3 {
  font-size: 1.067rem;
  line-height: 1.067rem;
  margin: 1.067rem 0;
}

/* line 57, ../../../../site_components/sosh/scss/_typography.scss */
h4 {
  font-size: 1rem;
  line-height: 1rem;
  margin: 1rem 0;
}

/* line 63, ../../../../site_components/sosh/scss/_typography.scss */
h5 {
  font-size: 0.9333rem;
  line-height: 0.9333rem;
  margin: 0.9333rem 0;
}

/* line 69, ../../../../site_components/sosh/scss/_typography.scss */
h6 {
  font-size: 0.8667rem;
  line-height: 0.8667rem;
  margin: 0.8667rem 0;
}

/* line 75, ../../../../site_components/sosh/scss/_typography.scss */
em {
  font-style: italic;
}

/* line 79, ../../../../site_components/sosh/scss/_typography.scss */
strong {
  font-weight: 500;
}

/* line 83, ../../../../site_components/sosh/scss/_typography.scss */
small {
  font-size: 75%;
}

/* line 87, ../../../../site_components/sosh/scss/_typography.scss */
.m-light {
  font-family: "BentonSans Light", "BentonSans Light", BentonSans, Helvetica, Arial, sans-serif;
}

/* line 91, ../../../../site_components/sosh/scss/_typography.scss */
.m-medium {
  font-family: "BentonSans Medium", Arial, sans-serif;
}

/* line 95, ../../../../site_components/sosh/scss/_typography.scss */
.m-bold {
  font-family: "BentonSans Bold", Arial, sans-serif;
}

/* line 99, ../../../../site_components/sosh/scss/_typography.scss */
.flow-text {
  font-weight: 300;
}

/* line 103, ../../../../site_components/sosh/scss/_typography.scss */
blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #E56C69;
}

@media only screen and (min-width: 360px) {
  /* line 110, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 0px) {
  /* line 116, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 0.8rem;
  }
}
@media only screen and (min-width: 390px) {
  /* line 122, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.224rem;
  }
}
@media only screen and (min-width: 30px) {
  /* line 128, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 0.904rem;
  }
}
@media only screen and (min-width: 420px) {
  /* line 134, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.248rem;
  }
}
@media only screen and (min-width: 60px) {
  /* line 140, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.008rem;
  }
}
@media only screen and (min-width: 450px) {
  /* line 146, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.272rem;
  }
}
@media only screen and (min-width: 90px) {
  /* line 152, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.112rem;
  }
}
@media only screen and (min-width: 480px) {
  /* line 158, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.296rem;
  }
}
@media only screen and (min-width: 120px) {
  /* line 164, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.216rem;
  }
}
@media only screen and (min-width: 510px) {
  /* line 170, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.32rem;
  }
}
@media only screen and (min-width: 150px) {
  /* line 176, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.32rem;
  }
}
@media only screen and (min-width: 540px) {
  /* line 182, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.344rem;
  }
}
@media only screen and (min-width: 180px) {
  /* line 188, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.424rem;
  }
}
@media only screen and (min-width: 570px) {
  /* line 194, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.368rem;
  }
}
@media only screen and (min-width: 210px) {
  /* line 200, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.528rem;
  }
}
@media only screen and (min-width: 600px) {
  /* line 206, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.392rem;
  }
}
@media only screen and (min-width: 240px) {
  /* line 212, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.632rem;
  }
}
@media only screen and (min-width: 630px) {
  /* line 218, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.416rem;
  }
}
@media only screen and (min-width: 270px) {
  /* line 224, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.736rem;
  }
}
@media only screen and (min-width: 660px) {
  /* line 230, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.44rem;
  }
}
@media only screen and (min-width: 300px) {
  /* line 236, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.84rem;
  }
}
@media only screen and (min-width: 690px) {
  /* line 242, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.464rem;
  }
}
@media only screen and (min-width: 330px) {
  /* line 248, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 1.944rem;
  }
}
@media only screen and (min-width: 720px) {
  /* line 254, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.488rem;
  }
}
@media only screen and (min-width: 360px) {
  /* line 260, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.048rem;
  }
}
@media only screen and (min-width: 750px) {
  /* line 266, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.512rem;
  }
}
@media only screen and (min-width: 390px) {
  /* line 272, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.152rem;
  }
}
@media only screen and (min-width: 780px) {
  /* line 278, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.536rem;
  }
}
@media only screen and (min-width: 420px) {
  /* line 284, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.256rem;
  }
}
@media only screen and (min-width: 810px) {
  /* line 290, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.56rem;
  }
}
@media only screen and (min-width: 450px) {
  /* line 296, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.36rem;
  }
}
@media only screen and (min-width: 840px) {
  /* line 302, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.584rem;
  }
}
@media only screen and (min-width: 480px) {
  /* line 308, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.464rem;
  }
}
@media only screen and (min-width: 870px) {
  /* line 314, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.608rem;
  }
}
@media only screen and (min-width: 510px) {
  /* line 320, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.568rem;
  }
}
@media only screen and (min-width: 900px) {
  /* line 326, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.632rem;
  }
}
@media only screen and (min-width: 540px) {
  /* line 332, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.672rem;
  }
}
@media only screen and (min-width: 930px) {
  /* line 338, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.656rem;
  }
}
@media only screen and (min-width: 570px) {
  /* line 344, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.776rem;
  }
}
@media only screen and (min-width: 960px) {
  /* line 350, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    font-size: 1.68rem;
  }
}
@media only screen and (min-width: 600px) {
  /* line 356, ../../../../site_components/sosh/scss/_typography.scss */
  .flow-text {
    line-height: 2.88rem;
  }
}
/* line 6, ../../../../site_components/sosh/scss/_helpers.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../../../../site_components/sosh/scss/_helpers.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 13, ../../../../site_components/sosh/scss/_helpers.scss */
.valign {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 27, ../../../../site_components/sosh/scss/_helpers.scss */
.text-left {
  text-align: left !important;
}

/* line 31, ../../../../site_components/sosh/scss/_helpers.scss */
.text-right {
  text-align: right !important;
}

/* line 36, ../../../../site_components/sosh/scss/_helpers.scss */
.text-center {
  text-align: center !important;
}

/* line 40, ../../../../site_components/sosh/scss/_helpers.scss */
.left {
  float: left !important;
}

/* line 43, ../../../../site_components/sosh/scss/_helpers.scss */
.right {
  float: right !important;
}

/* line 47, ../../../../site_components/sosh/scss/_helpers.scss */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 54, ../../../../site_components/sosh/scss/_helpers.scss */
.clearfix {
  clear: both;
}

/* line 1, ../../../../site_components/sosh/scss/_depth.scss */
.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* line 5, ../../../../site_components/sosh/scss/_depth.scss */
.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 9, ../../../../site_components/sosh/scss/_depth.scss */
.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* line 13, ../../../../site_components/sosh/scss/_depth.scss */
.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

/* line 17, ../../../../site_components/sosh/scss/_depth.scss */
.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

/* line 1, ../../../../site_components/sosh/scss/_card.scss */
.b-swatch {
  height: 7em;
  width: 7em;
  display: inline-flex;
  align-content: center;
}

/* line 8, ../../../../site_components/sosh/scss/_card.scss */
.b-card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 14, ../../../../site_components/sosh/scss/_card.scss */
.b-card-list a {
  cursor: pointer;
}

/* line 18, ../../../../site_components/sosh/scss/_card.scss */
.b-card {
  background-color: #CCCCCC;
  margin: 5px;
  padding: 1px;
  display: inline-block;
}

/* line 25, ../../../../site_components/sosh/scss/_card.scss */
.e-card-content {
  padding: 10px;
}

/* line 29, ../../../../site_components/sosh/scss/_card.scss */
.e-card-label {
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #CCCCCC;
}

/* line 35, ../../../../site_components/sosh/scss/_card.scss */
.e-event-image {
  width: 330px;
  height: 220px;
}

/* line 40, ../../../../site_components/sosh/scss/_card.scss */
.e-stub-strip {
  margin: 5px;
  display: inline-flex;
  width: 100%;
}

/* line 46, ../../../../site_components/sosh/scss/_card.scss */
.e-stub {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 0;
  padding: 8px 4px;
}

/* line 54, ../../../../site_components/sosh/scss/_card.scss */
.e-stub:hover {
  border-radius: 5px;
}

/* line 58, ../../../../site_components/sosh/scss/_card.scss */
.e-description {
  margin: 5px;
  height: 3em;
  font-size: 18px;
  font-weight: 500;
  width: 320px;
  overflow: hidden;
}

/* line 67, ../../../../site_components/sosh/scss/_card.scss */
.e-paging-button {
  display: inline-flex;
  border: 0;
  height: 2em;
  margin: 0;
  padding: 8px 4px;
  align-items: center;
}

/* line 76, ../../../../site_components/sosh/scss/_card.scss */
.e-paging-button:hover {
  background-color: #EEEEEE;
}

/* line 80, ../../../../site_components/sosh/scss/_card.scss */
.e-paging-button.disabled {
  opacity: .30;
}

/* line 84, ../../../../site_components/sosh/scss/_card.scss */
.e-paging-button.disabled:hover {
  color: #FFFFFF;
}

/* line 88, ../../../../site_components/sosh/scss/_card.scss */
.e-date {
  font-size: 13px;
}

/* line 92, ../../../../site_components/sosh/scss/_card.scss */
.e-stub:hover .e-date {
  font-weight: bold;
}

/* line 96, ../../../../site_components/sosh/scss/_card.scss */
.e-quantity {
  font-size: 12px;
}

/* line 100, ../../../../site_components/sosh/scss/_card.scss */
.e-quantity.sold-out {
  color: #B75654;
}

/* line 104, ../../../../site_components/sosh/scss/_card.scss */
.b-card-panel {
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}

/* line 1, ../../../../site_components/sosh/scss/_navigation.scss */
header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
}

/* line 10, ../../../../site_components/sosh/scss/_navigation.scss */
main {
  margin-top: 4em;
}

/* line 14, ../../../../site_components/sosh/scss/_navigation.scss */
.b-navigation-header {
  margin: 0;
  padding: 0;
  background-color: #666666;
  color: #FFFFFF;
  border-bottom: 1px solid #CCCCCC;
  width: 100%;
}
/* line 22, ../../../../site_components/sosh/scss/_navigation.scss */
.b-navigation-header h1 {
  margin: 0;
}
/* line 26, ../../../../site_components/sosh/scss/_navigation.scss */
.b-navigation-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 32, ../../../../site_components/sosh/scss/_navigation.scss */
.b-navigation-header li {
  display: inline-block;
  float: left;
  padding: 10px;
}
/* line 38, ../../../../site_components/sosh/scss/_navigation.scss */
.b-navigation-header li:first-child {
  margin-left: 5px;
}
/* line 42, ../../../../site_components/sosh/scss/_navigation.scss */
.b-navigation-header a {
  display: block;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: #FFFFFF;
}
/* line 49, ../../../../site_components/sosh/scss/_navigation.scss */
.b-navigation-header li.active a {
  border-bottom: 2px solid #E56C69;
}
/* line 53, ../../../../site_components/sosh/scss/_navigation.scss */
.b-navigation-header a:hover {
  border-bottom: 2px solid #B75654;
}

/* line 1, ../../../../site_components/sosh/scss/_grid.scss */
.container {
  width: 90%;
  margin: 0 auto;
}

/* line 6, ../../../../site_components/sosh/scss/_grid.scss */
.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

/* line 12, ../../../../site_components/sosh/scss/_grid.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 18, ../../../../site_components/sosh/scss/_grid.scss */
.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
}

/* line 26, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.s1 {
  width: 8.33333%;
  margin-left: 0;
}

/* line 31, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.s2 {
  width: 16.66667%;
  margin-left: 0;
}

/* line 36, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.s3 {
  width: 25%;
  margin-left: 0;
}

/* line 41, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.s4 {
  width: 33.33333%;
  margin-left: 0;
}

/* line 46, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.s5 {
  width: 41.66667%;
  margin-left: 0;
}

/* line 51, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.s6 {
  width: 50%;
  margin-left: 0;
}

/* line 56, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.s7 {
  width: 58.33333%;
  margin-left: 0;
}

/* line 61, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.s8 {
  width: 66.66667%;
  margin-left: 0;
}

/* line 66, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.s9 {
  width: 75%;
  margin-left: 0;
}

/* line 71, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.s10 {
  width: 83.33333%;
  margin-left: 0;
}

/* line 76, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.s11 {
  width: 91.66667%;
  margin-left: 0;
}

/* line 81, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.s12 {
  width: 100%;
  margin-left: 0;
}

/* line 86, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.offset-s1 {
  margin-left: 8.33333%;
}

/* line 90, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.offset-s2 {
  margin-left: 16.66667%;
}

/* line 94, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.offset-s3 {
  margin-left: 25%;
}

/* line 98, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.offset-s4 {
  margin-left: 33.33333%;
}

/* line 102, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.offset-s5 {
  margin-left: 41.66667%;
}

/* line 106, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.offset-s6 {
  margin-left: 50%;
}

/* line 110, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.offset-s7 {
  margin-left: 58.33333%;
}

/* line 114, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.offset-s8 {
  margin-left: 66.66667%;
}

/* line 118, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.offset-s9 {
  margin-left: 75%;
}

/* line 122, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.offset-s10 {
  margin-left: 83.33333%;
}

/* line 126, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.offset-s11 {
  margin-left: 91.66667%;
}

/* line 130, ../../../../site_components/sosh/scss/_grid.scss */
.row .col.offset-s12 {
  margin-left: 100%;
}

@media only screen and (min-width: 601px) {
  /* line 135, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.m1 {
    width: 8.33333%;
    margin-left: 0;
  }

  /* line 140, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.m2 {
    width: 16.66667%;
    margin-left: 0;
  }

  /* line 145, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.m3 {
    width: 25%;
    margin-left: 0;
  }

  /* line 150, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.m4 {
    width: 33.33333%;
    margin-left: 0;
  }

  /* line 155, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.m5 {
    width: 41.66667%;
    margin-left: 0;
  }

  /* line 160, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.m6 {
    width: 50%;
    margin-left: 0;
  }

  /* line 165, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.m7 {
    width: 58.33333%;
    margin-left: 0;
  }

  /* line 170, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.m8 {
    width: 66.66667%;
    margin-left: 0;
  }

  /* line 175, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.m9 {
    width: 75%;
    margin-left: 0;
  }

  /* line 180, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.m10 {
    width: 83.33333%;
    margin-left: 0;
  }

  /* line 185, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.m11 {
    width: 91.66667%;
    margin-left: 0;
  }

  /* line 190, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.m12 {
    width: 100%;
    margin-left: 0;
  }

  /* line 195, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-m1 {
    margin-left: 8.33333%;
  }

  /* line 199, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-m2 {
    margin-left: 16.66667%;
  }

  /* line 203, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-m3 {
    margin-left: 25%;
  }

  /* line 207, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-m4 {
    margin-left: 33.33333%;
  }

  /* line 211, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-m5 {
    margin-left: 41.66667%;
  }

  /* line 215, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-m6 {
    margin-left: 50%;
  }

  /* line 219, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-m7 {
    margin-left: 58.33333%;
  }

  /* line 223, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-m8 {
    margin-left: 66.66667%;
  }

  /* line 227, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-m9 {
    margin-left: 75%;
  }

  /* line 231, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-m10 {
    margin-left: 83.33333%;
  }

  /* line 235, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-m11 {
    margin-left: 91.66667%;
  }

  /* line 239, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-m12 {
    margin-left: 100%;
  }
}
@media only screen and (min-width: 993px) {
  /* line 245, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.l1 {
    width: 8.33333%;
    margin-left: 0;
  }

  /* line 250, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.l2 {
    width: 16.66667%;
    margin-left: 0;
  }

  /* line 255, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.l3 {
    width: 25%;
    margin-left: 0;
  }

  /* line 260, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.l4 {
    width: 33.33333%;
    margin-left: 0;
  }

  /* line 265, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.l5 {
    width: 41.66667%;
    margin-left: 0;
  }

  /* line 270, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.l6 {
    width: 50%;
    margin-left: 0;
  }

  /* line 275, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.l7 {
    width: 58.33333%;
    margin-left: 0;
  }

  /* line 280, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.l8 {
    width: 66.66667%;
    margin-left: 0;
  }

  /* line 285, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.l9 {
    width: 75%;
    margin-left: 0;
  }

  /* line 290, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.l10 {
    width: 83.33333%;
    margin-left: 0;
  }

  /* line 295, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.l11 {
    width: 91.66667%;
    margin-left: 0;
  }

  /* line 300, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.l12 {
    width: 100%;
    margin-left: 0;
  }

  /* line 305, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-l1 {
    margin-left: 8.33333%;
  }

  /* line 309, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-l2 {
    margin-left: 16.66667%;
  }

  /* line 313, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-l3 {
    margin-left: 25%;
  }

  /* line 317, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-l4 {
    margin-left: 33.33333%;
  }

  /* line 321, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-l5 {
    margin-left: 41.66667%;
  }

  /* line 325, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-l6 {
    margin-left: 50%;
  }

  /* line 329, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-l7 {
    margin-left: 58.33333%;
  }

  /* line 333, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-l8 {
    margin-left: 66.66667%;
  }

  /* line 337, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-l9 {
    margin-left: 75%;
  }

  /* line 341, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-l10 {
    margin-left: 83.33333%;
  }

  /* line 345, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-l11 {
    margin-left: 91.66667%;
  }

  /* line 349, ../../../../site_components/sosh/scss/_grid.scss */
  .row .col.offset-l12 {
    margin-left: 100%;
  }
}
